// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

/*! PUT YOU STYLE HERE TO AVOID GETTING REMOVING BY PURGECSS. */
//设置所有img格式图片宽度为100%
img {
    max-width: 100%;
}
.hb-footer-site-info {
    display: none;
}

.hb-blog-sidebar-posts {
    display: none;
}

.hb-blog-home-carousel {
    display: none;
}

.tk-footer {
    display: none;
}

/*! purgecss end ignore */
