{{- define "title" }}
  {{- $pages := .RegularPagesRecursive }}
  {{- $paginator := .Paginate $pages .Site.Params.hb.blog.paginate }}
  {{- .Store.Set "paginated" true }}
  {{ partial "base/title" . }}
{{- end -}}

{{- define "main" }}
  {{ partial "hb/modules/blog/list" . }}

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="4d8397a8-a29c-4fa1-94a0-3c1d3679ed6c"
  data-page-id="{{ .RelPermalink }}"
  data-page-url="{{ .RelPermalink }}"
  data-page-title="{{ .Title }}"
></div>

<script>
    window.CUSDIS_LOCALE = {
      "powered_by": "评论由 Cusdis 提供",
      "post_comment": "发送",
      "loading": "加载中",
      "email": "邮箱地址 (可选)",
      "nickname": "昵称",
      "reply_placeholder": "回复内容...",
      "reply_btn": "回复",
      "sending": "发送中...",
      "mod_badge": "管理员",
      "content_is_required": "内容不能为空",
      "nickname_is_required": "昵称不能为空",
      "comment_has_been_sent": "评论已发送，管理员审核通过后会展示"
    }
  </script>

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

{{- end -}}